div.Accueil {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: $aqua;
}

.Accueil {
  padding-top: 70px;
  @extend %flex-start-center;
  flex-direction: column;
  background-image: url("../../public/assets/waves.png");

  .maps-container-mobile {
    width: 100%;
    max-width: 340px;
    height: 340px;
    margin: 50px 0px;
    position: relative;

    & > img.map {
      position: absolute;
      top: 0px;
      left: 0px;
      @extend %transition;
    }

    & > img.active {
      width: 100%;
      height: auto;
      max-height: 100%a;
      z-index: 1;
    }
    & > img.inactive {
      width: 30%;
      height: 30%;
      z-index: 2;
    }

    & > img.flag {
      position: absolute;
      z-index: 3;

      &.flagAlpes {
        top: 184px;
        left: 157px;
      }
      &.flagHoka {
        top: 23px;
        left: 251px;
      }
      &.flagAlpes1 {
        top: 50px;
        left: 50px;
      }
      &.flagAlpes2 {
        top: 50px;
        left: 150px;
      }
      &.flagAlpes3 {
        top: 150px;
        left: 150px;
      }
      &.flagAlpes4 {
        top: 150px;
        left: 50px;
      }
    }
  }
  & > button {
    font-size: 18px;
    background-color: $red;
    border-radius: 25px;
    width: 218px;
    height: 51px;
    @extend %drop-shadow;
    margin-top: 30px;
  }

  .Accueil-main {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .maps-container-mobile,
  button.btn-sejours-mobile {
    display: none !important;
  }

  .Accueil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    & > .Accueil-main {
      display: flex;
    }
  }
}

.Accueil-main {
  width: 656px;
  @extend %flex-start-center;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 270px;
  position: relative;
}

.maps-hint {
  width: 100%;
  height: 31px;
  background-color: $red;
  border-radius: 25px;
  @extend %drop-shadow;
  font-size: 20px;
  @extend %flex-center-center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.maps-container {
  width: 487px;
  height: 481px;
  margin-top: 20px;
  position: relative;

  & > img.map {
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
  }
  & > img.active {
    width: 100%;
    height: auto;
    z-index: 2;

    &.map-japon {
      width: 115%;
    }

    &.map-alpes {
      width: 85%;
      margin-left: 16%;
      margin-top: 16%;
    }
  }
  & > img.inactive {
    width: 50%;
    height: auto;
    cursor: pointer;
    z-index: 3;

    &:hover {
      width: 52%;
    }
  }

  & > img.flag {
    z-index: 4;
    position: absolute;
    cursor: pointer;

    &.flagAlpes {
      top: 280px;
      left: 228px;

      &:hover,
      &.selected {
        animation-duration: 0.5s;
        animation-name: slideinALpes;
        animation-direction: alternate;
        animation-iteration-count: infinite;

        @keyframes slideinALpes {
          from {
            top: 280px;
          }

          to {
            top: 275px;
          }
        }
      }
    }
    &.flagHoka {
      top: 33px;
      left: 397px;

      &:hover,
      &.selected {
        animation-duration: 0.5s;
        animation-name: slidein;
        animation-direction: alternate;
        animation-iteration-count: infinite;

        @keyframes slidein {
          from {
            top: 33px;
          }

          to {
            top: 27px;
          }
        }
      }
    }
    &.flagAlpes1 {
      top: 280px;
      left: 228px;

      &:hover,
      &.selected {
        animation-duration: 0.5s;
        animation-name: flagAlpes1;
        animation-direction: alternate;
        animation-iteration-count: infinite;

        @keyframes flagAlpes1 {
          from {
            top: 280px;
          }

          to {
            top: 275px;
          }
        }
      }
    }
    &.flagAlpes2 {
      top: 60px;
      left: 330px;

      &:hover,
      &.selected {
        animation-duration: 0.5s;
        animation-name: flagAlpes2;
        animation-direction: alternate;
        animation-iteration-count: infinite;

        @keyframes flagAlpes2 {
          from {
            top: 60px;
          }

          to {
            top: 55px;
          }
        }
      }
    }
    &.flagAlpes3 {
      top: 120px;
      left: 447px;

      &:hover,
      &.selected {
        animation-duration: 0.5s;
        animation-name: flagAlpes3;
        animation-direction: alternate;
        animation-iteration-count: infinite;

        @keyframes flagAlpes3 {
          from {
            top: 120px;
          }

          to {
            top: 115px;
          }
        }
      }
    }
    &.flagAlpes4 {
      top: 200px;
      left: 447px;

      &:hover,
      &.selected {
        animation-duration: 0.5s;
        animation-name: flagAlpes4;
        animation-direction: alternate;
        animation-iteration-count: infinite;

        @keyframes flagAlpes4 {
          from {
            top: 200px;
          }

          to {
            top: 195px;
          }
        }
      }
    }
  }
}

.maps-news {
  margin-top: 45px;
  width: 100%;
  height: 41px;
  background-color: $white;
  border-radius: 25px;
  color: black;
  text-align: center;
  @extend %flex-center-center;

  & > p {
    width: 634px;
    line-height: 18px;
  }
}

.Accueil-destinations {
  width: 150px;
  height: 628px;
  position: absolute;
  left: -160px;
  @extend %flex-between-center;
  flex-direction: column;
}

.Accueil-destination {
  width: 100%;
  height: 109px;
  border-radius: 40px;
  position: relative;

  & > p {
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px,
      rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px,
      rgb(0, 0, 0) 0.705713px 2.91581px 0px,
      rgb(0, 0, 0) -0.287171px 2.98622px 0px,
      rgb(0, 0, 0) -1.24844px 2.72789px 0px,
      rgb(0, 0, 0) -2.07227px 2.16926px 0px,
      rgb(0, 0, 0) -2.66798px 1.37182px 0px,
      rgb(0, 0, 0) -2.96998px 0.42336px 0px,
      rgb(0, 0, 0) -2.94502px -0.571704px 0px,
      rgb(0, 0, 0) -2.59586px -1.50383px 0px,
      rgb(0, 0, 0) -1.96093px -2.27041px 0px,
      rgb(0, 0, 0) -1.11013px -2.78704px 0px,
      rgb(0, 0, 0) -0.137119px -2.99686px 0px,
      rgb(0, 0, 0) 0.850987px -2.87677px 0px,
      rgb(0, 0, 0) 1.74541px -2.43999px 0px,
      rgb(0, 0, 0) 2.44769px -1.73459px 0px,
      rgb(0, 0, 0) 2.88051px -0.838247px 0px;
  }

  &.hovering {
    scale: 1.1;

    & > p {
      text-decoration: underline;
      
    }
  }
  & > p {
    pointer-events: none;
  }
  &:hover {
    & > p {
      text-decoration: underline;
      
    }
  }

  & > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
  }

  & > p {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px,
      rgb(0, 0, 0) 0.540302px 0.841471px 0px,
      rgb(0, 0, 0) -0.416147px 0.909297px 0px,
      rgb(0, 0, 0) -0.989992px 0.14112px 0px,
      rgb(0, 0, 0) -0.653644px -0.756802px 0px,
      rgb(0, 0, 0) 0.283662px -0.958924px 0px,
      rgb(0, 0, 0) 0.96017px -0.279415px 0px;
  }
}

.nav-upper-sejours {
  width: 405px;
  height: 618px;
  background-color: $white;
  border-radius: 25px;
  position: absolute;
  top: 0px;
  right: -422px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 11px 17px 11px;

  & > a:first-child {
    margin-top: 0px;
  }

  & > .upper-sejours-yearBtn-container {
    width: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .upper-sejours-yearBtn {
      width: 96px;
      height: 27px;
      background-color: $red;
      margin: 0px;
      border-radius: 25px;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

      &.active {
        opacity: 0.5;
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .Accueil-main {
    width: 925px;
    margin-top: 65px;
    margin-right: 380px;
  }

  .maps-hint {
    width: 100%;
    height: 44px;
    border-radius: 25px;
    font-size: 27px;
  }

  .maps-container {
    width: 686px;
    height: 677px;
    margin-top: 28px;

    & > img.map {
      height: auto;
      position: absolute;
      top: 0px;
      left: 0px;
      margin: 0px;
    }
    & > img.active {
      width: 100%;
      height: auto;
      z-index: 2;
  
      &.map-japon {
        width: 115%;
      }
  
      &.map-alpes {
        width: 85%;
        margin-left: 16%;
        margin-top: 16%;
      }
    }
    & > img.inactive {
      width: 50%;
      height: auto;
      cursor: pointer;
      z-index: 3;
  
      &:hover {
        width: 52%;
      }
    }

    & > img.flag {
      &.flagAlpes {
        top: 419px;
        left: 327px;

        &:hover,
        &.selected {
          animation-name: slideinALpes;

          @keyframes slideinALpes {
            from {
              top: 419px;
            }

            to {
              top: 414px;
            }
          }
        }
      }
      &.flagHoka {
        top: 53px;
        left: 556px;

        &:hover,
        &.selected {
          animation-name: slidein;

          @keyframes slidein {
            from {
              top: 53px;
            }

            to {
              top: 48px;
            }
          }
        }
      }
      &.flagAlpes1 {
        top: 280px;
        left: 228px;

        &:hover,
        &.selected {
          animation-name: flagAlpes1;

          @keyframes flagAlpes1 {
            from {
              top: 280px;
            }

            to {
              top: 275px;
            }
          }
        }
      }
      &.flagAlpes2 {
        top: 60px;
        left: 330px;

        &:hover,
        &.selected {
          animation-name: flagAlpes2;

          @keyframes flagAlpes2 {
            from {
              top: 60px;
            }

            to {
              top: 55px;
            }
          }
        }
      }
      &.flagAlpes3 {
        top: 120px;
        left: 447px;

        &:hover,
        &.selected {
          animation-name: flagAlpes3;

          @keyframes flagAlpes3 {
            from {
              top: 120px;
            }

            to {
              top: 115px;
            }
          }
        }
      }
      &.flagAlpes4 {
        top: 200px;
        left: 447px;

        &:hover,
        &.selected {
          animation-name: flagAlpes4;

          @keyframes flagAlpes4 {
            from {
              top: 200px;
            }

            to {
              top: 195px;
            }
          }
        }
      }
    }
  }

  .maps-news {
    margin-top: 64px;
    height: 58px;
    & > p {
      width: 893px;
      line-height: 22px;
      font-size: 18px;
    }
  }

  .Accueil-destinations {
    width: 211px;
    height: 882px;
    left: -225px;
  }

  .Accueil-destination {
    height: 154px;

    & > p {
      bottom: 22px;
      font-size: 22px;
    }
  }

  .nav-upper-sejours {
    width: 570px;
    height: 870px;
    top: 0px;
    right: -594px;
    padding: 17px 11px 17px 11px;

    /*  & > .upper-sejours-yearBtn-container {
      width: 205px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      & > .upper-sejours-yearBtn {
        width: 96px;
        height: 27px;
        background-color: $red;
        margin: 0px;
        border-radius: 25px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  
        &.active {
          opacity: 0.5;
        }
      }
    } */
  }
}
