div.Accueil {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: $aqua;
}

.Accueil {
  padding-top: 70px;
  @extend %flex-start-center;
  flex-direction: column;

  .maps-container-mobile {
    width: 100%;
    max-width: 310px;
    height: 306px;
    margin: 50px 0px;
    position: relative;

    & > img.map {
      position: absolute;
      top: 0px;
      left: 0px;
      @extend %transition;
    }

    & > img.active {
      width: 100%;
      z-index: 1;
    }
    & > img.inactive {
      width: 30%;
      height: 30%;
      z-index: 2;
    }

    & > img.flag {
      position: absolute;
      z-index: 3;

      &.flagAlpes {
        top: 184px;
        left: 157px;
      }
      &.flagHoka {
        top: 23px;
        left: 251px;
      }
    }
  }
  & > button {
    font-size: 18px;
    background-color: $red;
    border-radius: 25px;
    width: 218px;
    height: 51px;
    @extend %drop-shadow;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .maps-container-mobile,
  button.btn-sejours-mobile {
    display: none !important;
  }

  .Accueil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}

.Accueil-main {
  width: 656px;
  @extend %flex-start-center;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 270px;
  position: relative;
}

.maps-hint {
  width: 100%;
  height: 31px;
  background-color: $red;
  border-radius: 25px;
  @extend %drop-shadow;
  font-size: 20px;
  @extend %flex-center-center;
}

.maps-container {
  width: 487px;
  height: 481px;
  margin-top: 20px;
  & > img {
    width: 100%;
    height: auto;
  }
}

.maps-news {
  margin-top: 37px;
  width: 100%;
  height: 41px;
  background-color: $white;
  border-radius: 25px;
  color: black;
  text-align: center;
  @extend %flex-center-center;

  & > p {
    width: 634px;
    line-height: 18px;
  }
}

.Accueil-destinations {
  width: 150px;
  height: 609px;
  background-color: $red;
  position: absolute;
  left: 0px;
}
