.PageContact {
  width: 100vw;
  height: 100vh;
  background-image: url("../../public/assets/waves-dark_blue.png");
  position: absolute;
  top: 0px;
  @extend %flex-start-center;
  flex-direction: column;
  padding-top: 90px;
  max-width: 100%;

  & > .PageContact-instructions {
    @extend %flex-start-start;
    flex-direction: column;
    width: 91%;
    max-width: 328px;

    & > * {
      font-weight: bold;
    }

    & > h1 {
      width: 233px;
      height: 39px;
      @extend %flex-center-center;
      font-size: 20px;
      border-radius: 25px;
      background-color: $red;
      align-self: center;
      margin-bottom: 15px;
    }

    & > p {
      color: black;
      font-size: 12px;

      &.underline,
      & > a.underline,
      & > span.underline {
        text-decoration: underline;
      }
      & > a,
      & > span {
        color: $white;
      }

      &:not(:nth-child(2)) {
        margin-top: 21px;
      }
    }
  }

  & > form {
    margin-top: 20px;
    width: 328px;
    @extend %flex-start-start;
    flex-flow: column;

    & > .PageContact-input {
      width: 100%;
      @extend %flex-between-center;
      height: 28px;

      &:not(:first-child) {
        margin-top: 16px;
      }

      label {
        width: auto;
        font-weight: bold;
        padding-top: 3px;
      }

      label,
      input,
      textarea {
        font-size: 12px;
        color: black;
        outline: none;
      }

      input,
      textarea {
        margin: 0px;
        background-color: $white;
        border-radius: 25px;
        width: 100%;
        color: black !important;
        max-width: 258px;
        border: none;
        resize: none;
        padding: 0px 6px;
        height: 25px;
      }

      &.message {
        align-items: start;
        flex-flow: column;
        height: 111px;

        & > textarea {
          width: 100%;
          max-width: unset;
          height: 90px;
          border-radius: 12px;
        }
      }
    }
    & > input.submit {
      font-size: 15px;
      background-color: $red;
      @extend %flex-center-center;
      margin-top: 10px;
      margin-left: 0px;
      width: 125px;
      border-radius: 25px;
      font-weight: bold;
      align-self: flex-end;
    }
  }
}

@media screen and (min-width: 414px) {
  .PageContact {
    background-image: url("../../public/assets/waves-dark_blue.png");
    position: absolute;
    top: 0px;
    @extend %flex-start-center;
    flex-direction: column;
    padding-top: 107.55813954px;
  
    & > .PageContact-instructions {
      @extend %flex-start-start;
      flex-direction: column;
      max-width: 391.93939394px;
  
      & > * {
        font-weight: bold;
      }
  
      & > h1 {
        width: 278.40909091px;
        height: 46.59090909px;
        @extend %flex-center-center;
        font-size: 23.90340909px;
        border-radius: 29.88068182px;
        background-color: $red;
        align-self: center;
        margin-bottom: 20.34883721px;
      }
  
      & > p {
        color: black;
        font-size: 14.34375px;
  
        &.underline,
        & > a.underline,
        & > span.underline {
          text-decoration: underline;
        }
  
        &:not(:nth-child(2)) {
          margin-top: 25.11111111px;
        }
      }
    }
  
    & > form {
      margin-top: 23.875px;
      width: 391.93939394px;
      @extend %flex-start-start;
      flex-flow: column;
  
      & > .PageContact-input {
        @extend %flex-between-center;
        height: 33.48958333px;
  
        &:not(:first-child) {
          margin-top: 19.11111111px;
        }
  
        label {
          width: auto;
          font-weight: bold;
          font-size: 14px;
        }
  
        input,
        textarea {
          font-size: 11.9375px;
          color: black;
          outline: none;
        }
  
        input,
        textarea {
          margin: 0px;
          background-color: $white;
          border-radius: 29.88068182px;
          color: black !important;
          max-width: 308.75px;
          border: none;
          resize: none;
          padding: 0px 7.16085271px;
        }
  
        &.message {
          align-items: start;
          flex-flow: column;
          height: 132.29166667px;
  
          & > textarea {
            max-width: unset;
            height: 107.40625px;
            border-radius: 14.34375px;
          }
        }
      }
      & > input.submit {
        font-size: 17.91208791px;
        background-color: $red;
        @extend %flex-center-center;
        margin-top: 11.9375px;
        margin-left: 0px;
        width: 149.22727273px;
        border-radius: 29.88068182px;
        font-weight: bold;
        align-self: flex-end;
      }
    }
  }
  
}


@media screen and (min-width: 1200px) {
  .PageContact {
    padding-top: 100px;
    height: unset;
    min-height: 100vh;
    padding-bottom: 50px;
  
    & > .PageContact-instructions {
      width: 1078px;
      max-width: unset;
  
      & > h1 {
        width: 322px;
        height: 45px;
        font-size: 28px;
        margin-bottom: 47px;
      }
  
      & > p {
        font-size: 20px;
  
        &:not(:nth-child(2)) {
          margin-top: 30px;
        }
      }
    }
  
    & > form {
      margin-top: 40px;
      width: 1078px;
      position: relative;
  
      & > .PageContact-input {
        width: 437px;
        height: 34px;
        margin-top: 0px;
  
        &:not(:first-child) {
          margin-top: 30px;
        }

        &:nth-child(5) {
          margin-top: 0px !important;
        }
  
        label {
          width: auto;
          font-size: 20px;
        }
  
        input,
        textarea {
          width: 100%;
          max-width: 297px;
          font-size: 16px;
          height: 30px;
        }
  
        &.message {
          height: 224px;
          position: absolute;
          right: 0px;
          top: 0px;
          width: 483px;
  
          & > textarea {
            height: 179px;
            border-radius: 12px;
          }
        }
      }
      & > input.submit {
        font-size: 17px;
        margin-top: 25px;
        width: 125px;
        height: 39px;
      }
    }
  }
}

@media screen and (min-width: 1450px) {
  .PageContact {
    padding-top: 120.763537822px;
  
    & > .PageContact-instructions {
      width: 1302.5862069px;
      max-width: unset;
  
      & > h1 {
        width: 389.655172414px;
        height: 54.347826087px;
        font-size: 33.826638477px;
        margin-bottom: 56.733446519px;
      }
  
      & > p {
        font-size: 24.137931034px;
  
        &:not(:nth-child(2)) {
          margin-top: 36.206896551px;
        }
      }
    }
  
    & > form {
      margin-top: 48.275862069px;
      width: 1302.5862069px;
      position: relative;
  
      & > .PageContact-input {
        width: 527.586206897px;
        height: 41.034482759px;
        margin-top: 0px;
  
        &:not(:first-child) {
          margin-top: 36.206896551px;
        }

        &:nth-child(5) {
          margin-top: 0px !important;
        }
  
        label {
          width: auto;
          font-size: 24.137931034px;
        }
  
        input,
        textarea {
          width: 100%;
          max-width: 358.620689655px;
          font-size: 19.342359767px;
          height: 36.206896551px;
        }
  
        &.message {
          height: 270.344827586px;
          position: absolute;
          right: 0px;
          top: 0px;
          width: 583.103448276px;
  
          & > textarea {
            height: 216.551724138px;
            border-radius: 14.482758621px;
          }
        }
      }
      & > input.submit {
        font-size: 20.548360866px;
        margin-top: 30.172413793px;
        width: 151.034482759px;
        height: 47.155425219px;
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .PageContact {
    padding-top: 141.84397163px;
  
    & > .PageContact-instructions {
      width: 1528.36879433px;
      max-width: unset;
  
      & > h1 {
        width: 457.44680851px;
        height: 63.82978723px;
        font-size: 39.71631206px;
        margin-bottom: 66.66666667px;
      }
  
      & > p {
        font-size: 28.36879433px;
  
        &:not(:nth-child(2)) {
          margin-top: 42.55319149px;
        }
      }
    }
  
    & > form {
      margin-top: 56.73758865px;
      width: 1528.36879433px;
      position: relative;
  
      & > .PageContact-input {
        width: 620.56737589px;
        height: 48.22695035px;
        margin-top: 0px;
  
        &:not(:first-child) {
          margin-top: 42.55319149px;
        }

        &:nth-child(5) {
          margin-top: 0px !important;
        }
  
        label {
          width: auto;
          font-size: 28.36879433px;
        }
  
        input,
        textarea {
          width: 100%;
          max-width: 421.9858156px;
          font-size: 22.69503546px;
          height: 42.55319149px;
        }
  
        &.message {
          height: 317.0212766px;
          position: absolute;
          right: 0px;
          top: 0px;
          width: 684.39716312px;
  
          & > textarea {
            height: 253.54609929px;
            border-radius: 16.95035461px;
          }
        }
      }
      & > input.submit {
        font-size: 24.11347518px;
        margin-top: 35.46099291px;
        width: 177.30496454px;
        height: 55.31914894px;
      }
    }
  }
}