.CookieBanner-shadow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  z-index: 98;

  &.none {
    display: none;
  }
}

.CookieBanner {
  @extend %flex-between-center;
  flex-flow: column;
  width: 90vw;
  background-color: $white;
  border-radius: 25px;
  height: 120px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  color: black;
  font-weight: bold;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  max-width: 336px;

  &.none {
    display: none;
  }

  .aqua {
    text-decoration: underline;
  }

  & > div {
    width: 87%;
    @extend %flex-between-center;
    & > button {
      height: 35px;
      color: white;
      font-weight: bold;
      font-size: 15px;
      border-radius: 25px;
      padding: 0px 20px;
      background-color: $aqua;

      &:first-child {
        background-color: black;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .CookieBanner-shadow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    z-index: 98;
  }

  .CookieBanner {
    flex-flow: row;
    width: 700px;
    height: 80px;
    bottom: 70px;
    font-size: 18px;
    max-width: unset;

    .aqua {
      text-decoration: unset;
    }

    & > div {
      width: 260px;
      @extend %flex-between-center;
      & > button {
        height: 42px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        border-radius: 25px;
        padding: 0px 20px;

        &:first-child {
          background-color: black;
        }
        &:last-child {
          background-color: $aqua;
        }
      }
    }
  }
}
