.PageReservation {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../../public/assets/waves-dark_blue.png");
  position: absolute;
  top: 0px;
  @extend %flex-start-center;
  flex-direction: column;
  padding-top: 90px;
  max-width: 100%;

  & > .PageReservation-container {
    width: 340px;
    @extend %flex-start-center;
    flex-flow: column;
    color: black;
    overflow: hidden;

    & > h1 {
      width: 233px;
      height: 39px;
      @extend %flex-center-center;
      font-size: 20px;
      font-weight: bold;
      background-color: $red;
      color: $white;
      border-radius: 25px;
    }

    & > p,
    & > a {
      font-size: 11px;
      font-weight: bold;
      line-height: 20px;
      text-align: center;
    }

    & > p {
      margin-top: 15px;

      & > span {
        color: $white;
      }

      & > a {
        color: $white;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    a.btnEchelle {
      height: 36px;
      margin-top: 20px;
      border-radius: 25px;
      background-color: $red;
      @extend %flex-between-center;
      padding: 3px 25px 0px 25px;
      font-size: 15px;
      font-weight: bold;
      color: $white;
      text-decoration: underline;

      & > img {
        width: 30px;
        height: auto;
        margin-left: 20px;
        margin-bottom: 3px;
      }

      &.reversed {
        background-color: $white;
        color: $red;
      }
    }

    & > .PageReservation-sejours {
      width: 100%;
      height: 500px;
      @extend %flex-between-start;
      margin-top: 30px;
      margin-bottom: 10px;
      flex-flow: column;

      &.displayNone {
        display: none;
      }

      & > div.sejour {
        width: 100%;
        height: 80px;
        border-radius: 25px;
        background-color: $red;
        padding: 8px 22px 8px 5px;
        @extend %flex-between-center;
        z-index: 2;
        cursor: pointer;

        & > img {
          width: 95px;
          height: auto;
          border-radius: 25px;
        }

        & > .sejour-infos {
          @extend %flex-between-center;
          flex-flow: column;
          width: 206px;
          height: 66px;

          & > .sejour-desc {
            font-size: 12px;
            font-weight: bold;
            color: $white;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 36px;
            padding-top: 4px;
            @extend %flex-between-center;
            flex-flow: column;
          }

          & > .sejour-bottom {
            width: 100%;
            @extend %flex-between-center;

            & > div {
              width: 100px;
              @extend %flex-between-center;

              & > img {
                width: 13.85px;
                height: 15.72;
              }
            }

            & > p {
              width: 92px;
              height: 24px;
              border-radius: 25px;
              font-weight: bold;
              font-size: 14px;
              @extend %flex-center-center;
              background-color: $white;
            }
          }
        }

        &.btnEchelle {
          display: none;
        }
      }
    }

    & > button.backButton {
      @extend %flex-between-center;
      width: auto;
      height: 39px;
      font-size: 15px;
      padding: 0px 20px;
      background-color: $red;
      border-radius: 25px;
      margin: 20px 0px;
      text-decoration: underline;

      & > img {
        width: 20px;
        height: auto;
        margin-right: 10px;
        transform: rotate(180deg);
      }
    }

    & > form {
      margin-top: 20px;
      width: 328px;
      @extend %flex-start-start;
      flex-flow: column;

      & > .PageContact-input {
        width: 100%;
        @extend %flex-between-center;
        height: 28px;

        &:not(:first-child) {
          margin-top: 16px;
        }

        label {
          width: auto;
          font-weight: bold;
          padding-top: 3px;
        }

        label,
        input,
        textarea {
          font-size: 12px;
          color: black;
          outline: none;
        }

        input,
        textarea {
          margin: 0px;
          background-color: $white;
          border-radius: 25px;
          width: 100%;
          color: black !important;
          max-width: 258px;
          border: none;
          resize: none;
          padding: 0px 6px;
          height: 25px;
        }

        &.message {
          align-items: start;
          flex-flow: column;
          height: 111px;

          & > textarea {
            width: 100%;
            max-width: unset;
            height: 90px;
            border-radius: 12px;
          }
        }
      }
      & > input.submit {
        font-size: 15px;
        background-color: $red;
        @extend %flex-center-center;
        margin-top: 10px;
        margin-left: 0px;
        width: 125px;
        border-radius: 25px;
        font-weight: bold;
        align-self: flex-end;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 414px) {
  .PageReservation {
    padding-top: 112.5px;

    & > .PageReservation-container {
      width: 425px;

      & > h1 {
        width: auto;
        height: 48.75px;
        font-size: 25px;
        padding: 5px 40px 0px 40px;
      }

      & > p,
      & > a {
        font-size: 13.75px;
        line-height: 25px;
      }

      & > p {
        margin-top: 18.75px;
      }

      a.btnEchelle {
        height: 45px;
        margin-top: 25px;
        padding: 3.75px 31.25px 0px 31.25px;
        font-size: 18.75px;

        & > img {
          width: 37.5px;
          margin-left: 25px;
          margin-bottom: 3.75px;
        }
      }

      & > .PageReservation-sejours {
        height: 625px;
        margin-top: 37.5px;
        margin-bottom: 12.5px;

        & > a.btnEchelle {
          display: none;
        }

        & > div.sejour {
          height: 100px;
          border-radius: 31.25px;
          padding: 10px 27.5px 10px 6.25px;

          & > img {
            width: 118.75px;
          }

          & > .sejour-infos {
            width: 257.5px;
            height: 82.5px;

            & > .sejour-desc {
              font-size: 15px;
              text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
              height: 45px;
              padding-top: 5px;
            }

            & > .sejour-bottom {
              & > div {
                width: 125px;
                & > img {
                  width: 17.3125px;
                  height: 19.65px;
                }
              }

              & > p {
                width: 115px;
                height: 30px;
                font-size: 17.5px;
                padding-top: 4px;
              }
            }
          }
        }
      }

      & > form {
        margin-top: 23.875px;
        width: 391.93939394px;
        height: 396px;
        flex-flow: column;

        & > .PageContact-input {
          height: 33.48958333px;

          &:not(:first-child) {
            margin-top: 19.11111111px;
          }

          label {
            width: auto;
            font-weight: bold;
            font-size: 14px;
          }

          input,
          textarea {
            font-size: 11.9375px;
            color: black;
            outline: none;
          }

          input,
          textarea {
            margin: 0px;
            background-color: $white;
            border-radius: 29.88068182px;
            color: black !important;
            max-width: 308.75px;
            border: none;
            resize: none;
            padding: 0px 7.16085271px;
          }

          &.message {
            align-items: start;
            flex-flow: column;
            height: 132.29166667px;

            & > textarea {
              max-width: unset;
              height: 107.40625px;
              border-radius: 14.34375px;
            }
          }
        }
        & > input.submit {
          font-size: 17.91208791px;
          background-color: $red;
          margin-top: 11.9375px;
          margin-left: 0px;
          width: 149.22727273px;
          border-radius: 29.88068182px;
          font-weight: bold;
          align-self: flex-end;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .PageReservation {
    padding-top: 112.5px;
    padding-bottom: 50px;

    & > .PageReservation-container {
      width: 1190px;

      & > h1 {
        width: auto;
        height: 48.75px;
        font-size: 28px;
        padding: 5px 40px 0px 40px;
      }

      & > p,
      & > a {
        font-size: 14px;
        line-height: 25px;
      }

      & > p {
        margin-top: 18.75px;
      }

      & > a.btnEchelle {
        display: none;
      }

      & > .PageReservation-sejours {
        width: 100%;
        height: 239px;
        margin-top: 25px;
        margin-bottom: 0px;
        flex-flow: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;

        & > a.btnEchelle {
          display: flex;
        }

        & > div.sejour {
          width: 48%;
          height: 67px;
          border-radius: 25px;
          background-color: $red;
          padding: 8px 22px 8px 105px;
          z-index: 2;
          position: relative;

          &:first-child {
            margin-right: 44px;
          }

          &:nth-child(4) {
            & > .sejour-infos {
              & > .sejour-desc {
                height: 40px;
                & > p:last-child {
                  font-size: 11px;
                }
              }
            }
          }

          &:hover {
            & > .sejour-infos {
              & > .sejour-bottom {
                & > p {
                  background-color: $aqua !important;
                  color: $white;
                  text-decoration: underline;
                }
              }
            }
          }

          &:not(:nth-child(1), :nth-child(4)) {
            margin-top: 15px;
          }

          & > img {
            width: 100px;
            height: 67px;
            border-radius: 25px;
            position: absolute;
            left: 0px;
          }

          & > .sejour-infos {
            display: inline-flex;
            flex-flow: row;
            width: 100%;
            height: 66px;

            & > .sejour-desc {
              & > p:first-child {
                font-size: 14px;
              }
              & > p:last-child {
                font-size: 11px;
              }
              font-weight: bold;
              color: $white;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
              width: 189px;
              height: 45px;
              padding-top: 4px;
              flex-flow: column;
            }

            & > .sejour-bottom {
              width: 244px;

              & > div {
                width: 125px;

                & > img {
                  width: 18.8px;
                  height: 21.73px;
                }
              }

              & > p {
                width: 103px;
                height: 37px;
                border-radius: 25px;
                font-weight: bold;
                font-size: 15px;
                background-color: $white;
              }
            }
          }
        }
        & > div.PageReservation-sejours-buttons {
          position: absolute;
          bottom: 6px;
          right: 3px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 48%;
          height: 67px;
          a.btnEchelle {
            display: flex;
            width: unset;
            height: 46px;
            padding: 0px 30px;
            z-index: 1;
            font-size: 18px;
            margin-top: unset;
            text-decoration: unset;

            &:hover {
              text-decoration: underline;
            }
            & > img {
              width: 30px;
              height: auto;
              margin-left: 20px;
              margin-bottom: unset;
              position: relative;
            }
          }
        }
      }

      & > button.backButton {
        text-decoration: unset;
        margin: 30px 0px;

        &:hover {
          text-decoration: underline;
        }
      }

      & > form {
        margin-top: 40px;
        width: 1078px;
        position: relative;

        & > .PageContact-input {
          width: 437px;
          height: 34px;
          margin-top: 0px;

          &:not(:first-child) {
            margin-top: 30px;
          }

          &:nth-child(5) {
            margin-top: 0px !important;
          }

          label {
            width: auto;
            font-size: 20px;
          }

          input,
          textarea {
            width: 100%;
            max-width: 297px;
            font-size: 16px;
            height: 30px;
          }

          &.message {
            height: 224px;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 483px;

            & > textarea {
              height: 179px;
              border-radius: 12px;
            }
          }
        }
        & > input.submit {
          font-size: 17px;
          margin-top: 25px;
          width: 125px;
          height: 39px;
        }
      }
    }
  }
}

@media screen and (min-width: 1450px) {
  .PageReservation {
    padding-top: 108px;

    & > .PageReservation-container {
      width: 1437px;

      & > h1 {
        width: auto;
        height: 58.81px;
        font-size: 33.85px;
        padding: 6.04px 48.31px 0px 48.31px;
      }

      & > p,
      & > a {
        font-size: 16.91px;
        line-height: 30.18px;
      }

      & > p {
        margin-top: 22.63px;
      }

      & > a.btnEchelle {
        display: none;
      }

      & > .PageReservation-sejours {
        width: 100%;
        height: 288.67px;
        margin-top: 30.18px;
        margin-bottom: 0px;
        flex-flow: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;

        & > div.sejour {
          height: 81.07px;
          border-radius: 30.18px;
          background-color: $red;
          padding: 9.66px 26.11px 9.66px 126.96px;

          z-index: 2;
          position: relative;

          &:first-child {
            margin-right: 53.23px;
          }

          &:nth-child(4) {
            & > .sejour-infos {
              & > .sejour-desc {
                height: 50px;
                & > p:last-child {
                  font-size: 13px;
                }
              }
            }
          }

          &:not(:nth-child(1), :nth-child(4)) {
            margin-top: 18.75px;
          }

          & > img {
            width: 121px;
            height: 81.07px;
            border-radius: 30.18px;
            position: absolute;
            left: 0px;
          }

          & > .sejour-infos {
            display: inline-flex;
            flex-flow: row;
            width: 100%;
            height: 79.84px;

            & > .sejour-desc {
              & > p:first-child {
                font-size: 16.91px;
              }
              & > p:last-child {
                font-size: 13px;
              }
              font-weight: bold;
              color: $white;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
              width: 229.01px;
              height: 54.63px;
              padding-top: 4.04px;

              flex-flow: column;
            }

            & > .sejour-bottom {
              width: 294.99px;

              & > div {
                width: 151.05px;

                & > img {
                  width: 22.71px;
                  height: 26.24px;
                }
              }

              & > p {
                width: 124.62px;
                height: 44.73px;
                border-radius: 30.18px;
                font-weight: bold;
                font-size: 18.13px;
                background-color: $white;
              }
            }
          }

          &.btnEchelle {
            display: flex;
            width: unset;
            height: 43.49px;
            padding: 0px 36.27px;
            padding-top: 3px;
            z-index: 1;
            font-size: 18.13px;
            margin-top: unset;
            text-decoration: unset;
            position: absolute;
            bottom: 7.25px;
            right: 3.62px;

            & > img {
              width: 36.27px;
              height: auto;
              margin-left: 24.2px;
              margin-bottom: 3px;
              position: relative;
            }
          }
        }
      }
      & > form {
        margin-top: 48.275862069px;
        width: 1302.5862069px;
        position: relative;

        & > .PageContact-input {
          width: 527.586206897px;
          height: 41.034482759px;
          margin-top: 0px;

          &:not(:first-child) {
            margin-top: 36.206896551px;
          }

          &:nth-child(5) {
            margin-top: 0px !important;
          }

          label {
            width: auto;
            font-size: 24.137931034px;
          }

          input,
          textarea {
            width: 100%;
            max-width: 358.620689655px;
            font-size: 19.342359767px;
            height: 36.206896551px;
          }

          &.message {
            height: 270.344827586px;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 583.103448276px;

            & > textarea {
              height: 216.551724138px;
              border-radius: 14.482758621px;
            }
          }
        }
        & > input.submit {
          font-size: 20.548360866px;
          margin-top: 30.172413793px;
          width: 151.034482759px;
          height: 47.155425219px;
        }
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .PageReservation {
    padding-top: 136.86px;

    & > .PageReservation-container {
      width: 1687.05px;

      & > h1 {
        width: auto;
        height: 69.14px;
        font-size: 39.69px;
        padding: 7.06px 56.35px 0px 56.35px;
      }

      & > p,
      & > a {
        font-size: 19.85px;
        line-height: 35.41px;
      }

      & > p {
        margin-top: 25.5px;
      }

      & > a.btnEchelle {
        display: none;
      }

      & > .PageReservation-sejours {
        width: 100%;
        height: 339.28px;
        margin-top: 35.41px;
        margin-bottom: 0px;
        flex-flow: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;

        & > div.sejour {
          height: 95.1px;
          border-radius: 35.41px;
          background-color: $red;
          padding: 11.31px 30.92px 11.31px 152.94px;

          z-index: 2;
          position: relative;

          &:first-child {
            margin-right: 59.66px;
          }

          &:not(:nth-child(1), :nth-child(4)) {
            margin-top: 21.21px;
          }

          &:nth-child(4) {
            & > .sejour-infos {
              & > .sejour-desc {
                height: 58px;
                & > p:last-child {
                  font-size: 16px;
                }
              }
            }
          }

          & > img {
            width: 135.29px;
            height: 95.1px;
            border-radius: 35.41px;
            position: absolute;
            left: 0px;
          }

          & > .sejour-infos {
            display: inline-flex;
            flex-flow: row;
            width: 100%;
            height: 94.08px;

            & > .sejour-desc {
              & > p:first-child {
                font-size: 19.85px;
              }
              & > p:last-child {
                font-size: 16px;
              }
              font-weight: bold;
              color: $white;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
              width: 267.93px;
              height: 63.08px;
              padding-top: 4.85px;

              flex-flow: column;
            }

            & > .sejour-bottom {
              width: 348.13px;

              & > div {
                width: 177.42px;

                & > img {
                  width: 26.7px;
                  height: 30.78px;
                }
              }

              & > p {
                width: 146.23px;
                height: 52.41px;
                border-radius: 35.41px;
                font-weight: bold;
                font-size: 22.44px;
                background-color: $white;
              }
            }
          }

          &.btnEchelle {
            display: flex;
            width: unset;
            height: 51.07px;
            padding: 0px 42.35px;
            z-index: 1;
            font-size: 22.44px;
            margin-top: unset;
            text-decoration: unset;
            position: absolute;
            bottom: 8.45px;
            right: 4.22px;

            &:hover {
              text-decoration: underline;
            }
            & > img {
              width: 42.35px;
              height: auto;
              margin-left: 28.24px;
              margin-bottom: unset;
              position: relative;
            }
          }
        }
      }
    }
  }
}
