a.sejour {
  display: flex;
  width: 383px;
  height: 102px;
  border-radius: 25px;
  background-color: $red;
  padding: 6px 10px 6px 7.42px;
  @extend %flex-between-center;
  margin-top: 18px;
  z-index: 4;

  &:hover {
    background-color: $aqua !important;
  }

  & > * {
    pointer-events: none;
  }

  &:first-child {
    margin-top: 24px;
  }

  & > img {
    width: 137.59px;
    height: 90.61px;
    border-radius: 25px
  }

  & > div.sejour-desc {
    @extend %flex-center-center;
    flex-direction: column;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    text-align: center;

    & > p:first-child {
      min-width: 159px;
      font-size: 15px !important;
    }

    & > p:nth-child(2) {
      margin-top: 14px;
      margin-bottom: 10px;
      min-width: 217px;
      font-size: 15px !important;
    }

    & > div.sejour-difficulty {
      width: 172.24px;
      @extend %flex-between-center;

      & > img {
        width: 23.86px;
        height: 26.92px;
      }
    }
  }

  &.hovering {
    background-color: $aqua;
    @extend %drop-shadow;
  }
}

@media screen and (min-width: 1700px) {
  a.sejour {
    display: flex;
    width: 549px;
    height: 144px;
    padding: 6px 10px 6px 7.42px;
    margin-top: 29px;

    &:first-child {
      margin-top: 34px;
    }

    & > img {
      width: 193.78px;
      height: 127.61px;
    }

    & > div.sejour-desc {
      & > p:first-child {
        min-width: 223px;
        font-size: 21.12px !important;
      }

      & > p:nth-child(2) {
        margin-top: 20px;
        margin-bottom: 14px;
        min-width: 306px;
        font-size: 21.12px !important;
      }

      & > div.sejour-difficulty {
        width: 242.59px;

        & > img {
          width: 33.60px;
          height: 38px;
        }
      }
    }
  }
}
